@model IEnumerable<Institucion>

@{
    ViewData["Title"] = "Listado Instituciones";
}
<h1>Instituciónes</h1>
<h5>Se muestran todas las instituciones relacionadas a los impresores y sus suministros.</h5>

<a asp-action="Crear" class="btn btn-primary" mb-3>Crear nueva</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombres</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var institucion in Model)
            { <!-- Items -->
                <tr>
                    <td>
                        <a class="btn btn-primary" value="Editar" asp-controller="Instituciones"  asp-action="Editar" asp-route-IdInstitucion="@institucion.IdInstitucion">Editar -> @institucion.IdInstitucion</a>
                        <a class="btn btn-danger"  value="Borrar" asp-action="Borrar" asp-route-IdInstitucion="@institucion.IdInstitucion">Borrar -> @institucion.IdInstitucion</a>
                    </td>
                    <td>
                        @institucion.Nombre  -> @institucion.IdInstitucion
                    </td>
                </tr>
            }
        </tbody>
</table>
